<!DOCTYPE html>
<html lang="pt_BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chupa Leads 1.0</title>
    <link rel="stylesheet" href="./chupaleads/styles/global.css">
</head>
<body>